:root {
  --ltGreen: #008777;
}

body,
body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet MS", sans-serif;
  background-color: hsla(139, 82%, 63%, 0.155);
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin: 3rem;
}

#heroes {
  width: 95%;
  margin: auto;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
}

th {
  padding: 1rem;
  background-color: var(--ltGreen);
  font-size: 1.4rem;
  color: #fff;
}
tr {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
}

td {
  font-size: 1.2rem;
  border-bottom: 1px solid rgb(222, 219, 219);
  padding: 1.5rem;
}

td:first-child,
th:first-child {
  text-align: start;
}

tr:nth-child(odd) {
  background-color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  color: var(--ltGreen);
  cursor: pointer;
}

/* sort styles */

.sort {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.sort div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sort label {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: var(--ltGreen);
}

.sort select {
  font-size: 1.3rem;
  width: 15em;
  height: 2em;
  border-radius: 10px;
  border-color: var(--ltGreen);
}

.sort option {
  border-radius: 150px;
}
